<%= link_to show_plant_url(plant) do %>
<% if plant.images.exists? %>
<div class="plant-thumbnail" style="background-image: url(<%= url_for(plant.images.featured.with_attached_file.first.file) %>)">
<% else %>
<div class="plant-thumbnail"  style="background-color: green;" >
<% end %>
f
	<div class="thumbnail-name">
		<div class="plant-name"><span><%=plant.scientific_name%></span></div>
		<div class="common-name"><span><%=plant.common_name%></span></div>
	</div>
	<div class="thumbnail-description">
		
	</div>
</div>
<% end %>