
<div class="row">
	<div class="small-10 small-centered columns">
		<%= link_to show_plant_url(@plant) do %><h1 id="scientific-name"><%=@plant.genus%> <%=@plant.species%></h1><% end %>
		<h1 id="common-name"><%=@plant.common_name%></h1>
	</div><!--/.small-10 small-centered-->
</div><!--/.row-->